.card-widget {
  position: relative;
  transition: top 5s ease;
  padding: 5px 20px 5px 20px;
  width: 30%;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #000;
  background: linear-gradient(#06304e, #06304e);
}

.card-widget:hover {
  top: -1px;
}
