#mainWidget {
  width: 93%;
  max-height: 700px;
  overflow: auto;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #000;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.main-widget-dark {
  background: linear-gradient(#27293d, #243442);
}

.main-widget-light {
  background: linear-gradient(#ffffff, #d1d7dd);
}
