.menu-link {
  display: flex;
  justify-content: center;
}

.menu-header {
  display: flex;
  justify-content: center;
}

#menuWidget {
  width: 5%;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #000;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.menu-widget-dark {
  background: linear-gradient(#12629b, #06304e);
}

.menu-widget-light {
  background: linear-gradient(#ffffff, #2d72a3);
}

.menu-link:hover > i {
  color: #41f0ca !important;
}

.menu-link:hover > .my-menu-link {
  color: #41f0ca !important;
}

#menuWidget:hover {
  width: 30%;
}

.my-menu-link {
  display: none;
}

#menuWidget:hover .my-menu-link {
  display: inline;
}

#menuWidget:hover .menu-link {
  justify-content: flex-start;
}
