#toggleLight {
  position: fixed;
  right: 0px;
  top: 50%;
  transition: top 5s ease;
  z-index: 1000;
}

#toggleLight:hover {
  cursor: pointer;
  padding-right: 1px;
}

.fa-adjust:hover {
  color: #fff !important;
}
