body {
  background-color: #1d1c2c;
}

.bg-primary {
  background-color: #e24dca !important;
}

.bg-dark {
  background-color: #1d1e2e !important;
}

.bg-primary-light {
  background-color: #e24dca;
}

#nav {
  padding: 20px;
  box-shadow: 1px 1px 1px #000;
}

#navTitle,
.nav-link {
  font-size: 1.3rem;
}

.menu-link {
  display: flex;
  justify-content: center;
}

#menuWidget {
  width: 5%;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #000;
  background: linear-gradient(#811f71, #293f50);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#mainWidget {
  width: 93%;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #000;
  background: linear-gradient(#27293d, #243442);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#menuWidget:hover {
  width: 30%;
}

.card-widget {
  padding: 5px 20px 5px 20px;
  width: 30%;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #000;
  background: linear-gradient(#4d1143, #293f50);
}
